html {
    min-height: 100%;
}
body {
    min-height: 100%;
    margin: 20px;
    padding: 0;
    background: #95e8f3 url("https://pluspng.com/img-png/png-doraemon-doraemon-new-png-images-411.png") no-repeat bottom right 40px fixed;
    background-size: 200px 250px;
}
form {
    padding: 20px;
    margin-top: 60px;
}
form button, form h5 {
    margin : 20px 0;
}

input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]){
    border-color: #ec407a;
    box-shadow: none;
}
